* {
  font-family: 'Open sans'
}

ion-title {
  text-align: center;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

.pendente {
  display: inline-flex;
  background-color: var(--ion-color-warning);
  color: #fff;
  padding: 2px 12px;
  border-radius: 20px;
  font-size: 10px;
  text-transform: uppercase;
  margin-top: 5px;
}

.realizada {
  display: inline-flex;
  background-color: var(--ion-color-success);
  color: #fff;
  padding: 2px 12px;
  border-radius: 20px;
  font-size: 10px;
  text-transform: uppercase;
  margin-top: 5px;
}
